.btn-icon, .div-icon {
  position: relative;
  height: 3rem;
  width: 3rem;
  padding: 0;

  color: $white;
  text-align: center;

  svg {
    position: absolute;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;

    &.small {
      top: 45%;
      left: 60%;
      height: 25%;
      width: 25%;

      color: $gray-light;
    }
  }

  &-green {
    color: $green-dark;
  }

  &-yellow {
    color: $yellow;
  }

  &-red {
    color: $orange;
  }

  &.twitch {
    color: $twitch;
  }

  &.url {
    color: $green-dark;
  }
}

.btn-icon:hover {
  opacity: .7;
}

.btn-text {
  height: 2rem;
  padding: 0 1rem;

  color: $gray-xxlight;
  background-color: $purple-dark;
}

.loading {
  height: 2rem;
  width: 2rem;
  border-top: 2px solid $white;
  border-right: 2px solid $white;
  border-radius: 2rem;

  animation: rotating 2s linear infinite;
}

.keyboard-key {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  padding: .3rem .7rem;

  border-radius: .6rem;
  background: linear-gradient(180deg, #282828, #202020);
  box-shadow:
    inset -.5rem 0 .5rem rgba($black, .15),
    inset 0 -.5rem .5rem rgba($black, .25),
    0 0 0 1px rgba($black, .75);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: .3rem;
    left: .3rem;
    bottom: .7rem;
    right: .7rem;

    text-align: center;

    background: linear-gradient(90deg, #232323, #4a4a4a);
    border-radius: .6rem;
    box-shadow:
      -.7rem -.7rem .7rem rgba($white, .25),
      .7rem .3rem .7rem rgba($black, .15);
    border-left: 1px solid rgba($black, .3);
    border-bottom: 1px solid rgba($black, .3);
    border-top: 1px solid rgba($black, .7);
  }

  .code {
    position: relative;
    padding: .3rem .4rem;

    color: $white;
    font-size: 1.5em;
    text-transform: uppercase;
  }
}

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 1.4rem;
  aspect-ratio: 2;
  padding: 0 2px;

  background-color: $gray;
  border-radius: 1.4rem;

  &.checked {
    flex-direction: row;

    background-color: $green-dark;

    .checkbox-icon {
      color: $gray-xxlight;
    }
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  .checkbox-icon {
    position: relative;
    height: 100%;
    aspect-ratio: 1;

    color: $gray-xxxdark;

    svg {
      position: absolute;
      top: 20%;
      left: 20%;
      height: 60%;
      width: 60%;
    }
  }

  .checkbox-handle {
    height: calc(100% - 4px);
    aspect-ratio: 1;

    background-color: $gray-xxlight;
    border-radius: 100%;
  }
}
