.favorites {
  color: $gray-xlight;
  background-color: $purple-xxdark;

  .favorites-wrapper {
    width: 100%;
    height: calc(100% - 4rem);
    margin-top: 4rem;

    overflow-x: auto;

    .loading-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100% - 4rem);
    }

    .favorites-list {
      display: flex;
      flex-direction: row;
      align-self: start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      min-width: min-content;
      gap: 3rem;

      padding: 2rem;
      padding-top: 0;

      .fav-group {
        display: inline-block;
        width: 17rem;

        h1 {
          font-size: 1.5rem;
          width: 100%;
          border-bottom: 1px solid $green;
          margin-bottom: .8rem;

          color: $green;
        }

        .fav-group-channels {
          .fav {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: .7rem;
            width: 100%;
            padding: .4rem 0;

            cursor: pointer;

            &:not(:last-child)::after {
              content: '';
              position: absolute;
              top: 100%;
              left: 25%;
              right: 25%;
              border-bottom: 1px solid $gray-xxdark;
            }

            .avatar {
              width: 24px;
              height: 24px;

              border-radius: 12px;
            }

            .name {
              flex: 1;
              color: $gray-xxlight;

              @extend .text-left;
              @extend .ellipsis;
            }

            .lang {
              width: 1rem;
            }

            .viewers {
              width: 3rem;
              font-size: .8rem;

              color: $gray-xlight;

              @extend .text-right;
            }

            &:not(.isLive) {
              .name {
                color: $gray-xdark;
              }

              .avatar {
                opacity: .5;
              }
            }
          }
        }
      }
    }
  }
}
