.frame-wrapper {
  cursor: pointer;

  .frame-resize {
    position: absolute;

    &:hover {
      background-color: rgba($white, .1);
    }

    &.resize-top,
    &.resize-bottom {
      left: 0;
      width: 100%;
      height: 3rem;
      cursor: ns-resize;
    }
    &.resize-left,
    &.resize-right {
      top: 0;
      width: 3rem;
      height: 100%;
      cursor: ew-resize;
    }

    &.resize-top {
      top: 0;
    }
    &.resize-bottom {
      bottom: 0;
    }
    &.resize-left {
      left: 0;
    }
    &.resize-right {
      right: 0;
    }

    &.resize-tl,
    &.resize-bl,
    &.resize-br,
    &.resize-tr {
      height: 3rem;
      width: 3rem;
    }
    &.resize-tl {
      top: 0;
      left: 0;
      cursor: nwse-resize;
    }
    &.resize-bl {
      bottom: 0;
      left: 0;
      cursor: nesw-resize;
    }
    &.resize-br {
      bottom: 0;
      right: 0;
      cursor: nwse-resize;
    }
    &.resize-tr {
      top: 0;
      right: 0;
      cursor: nesw-resize;
    }
  }

  .frame {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: rgba($blue-xlight, .3);
    border: 1px solid $blue-xlight;

    &.dropTarget {
      background-color: rgba($yellow, .2);
      border: 1px solid $yellow;
    }

    .frame-ctrls {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 20rem;
      padding: 1rem;

      background-color: rgba($blue-xlight, .9);

      .frame-ctrls-line {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 3rem;
        width: 100%;

        input {
          flex: 1;
          height: 2rem;
          padding-right: 2rem;
        }

        .btn-go {
          position: absolute;
          height: 2rem;
          width: 2rem;
          right: 0rem;

          color: $gray-xdark;
        }
      }
    }
  }

  &.dragging .frame {
    opacity: .7;
  }
}
