.grid {
  .vertical,
  .horizontal {
    display: flex;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .grid-separator {
      flex: 1;

      opacity: .3;

      &.border-right {
        border-right: 1px solid #555;
      }
      &.border-bottom {
        border-bottom: 1px solid #555;
      }
    }

    &.multiple-2 .grid-separator {
      border-color: $green;
    }
    &.multiple-3 .grid-separator {
      border-color: $orange;
    }
    &.multiple-5 .grid-separator {
      border-color: $pink;
    }

    .grid-separator:last-child {
      border: none;
    }
  }

  .vertical {
    flex-direction: column;
  }
  .horizontal {
    flex-direction: row;
  }
}
