body, html, #root, .layout {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.layout {
  position: relative;

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .live {
      flex: 1;

      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .settings {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .grid {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .frames {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .frame-wrapper {
      position: absolute;
    }

    &, * {
      user-select: none;
    }
  }

  .favorites {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .selector {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .close {
    position: absolute;
    top: 0;
    left: 0;
  }

  .tabs {
    position: absolute;
    top: 0;
    left: 4rem;

    .tab {
      height: 3rem;
      line-height: 3rem;
      width: 8rem;

      color: $gray-xlight;

      &.active {
        background-color: rgba($gray-xdark, .3);
      }
    }
  }
}
