.selector {
  background-color: $purple-xxdark;

  .selector-title {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 30%;
    right: 30%;

    color: $white;

    .back,
    div {
      height: 3rem;
      line-height: 3rem;
    }

    .back {
      width: 30%;
    }

    div {
      width: 40%;
      text-align: center;
      font-size: 1.5rem;
    }
  }

  .selector-wrapper {
    width: 100%;
    height: calc(100% - 4rem);
    margin-top: 4rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;

    .layout-choice {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 30%;
      width: 60vh;
      max-width: 40%;

      &.chosen {
        height: 60%;
        width: 120vh;
        max-width: 70%;
      }

      .keyboard-key {
        position: absolute;
        left: .5rem;
        bottom: .5rem;

        z-index: 2;
      }

      .layout-row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 2rem;
        gap: 2rem;
        flex: 1;

        &:not(:last-child) {
          border-bottom: 4px solid $green;
        }

        .bar {
          height: 100%;
          width: 0;
          border-left: 4px solid $green;

          &:last-child {
            display: none;
          }
        }

        .rect {
          position: relative;
          flex: 1;
          height: calc(100% - 3rem);
          border: 2px solid $white;

          cursor: pointer;

          &:hover {
            background-color: rgba($white, .3);
          }

          .keyboard-key {
            position: absolute;
            left: .7rem;
            bottom: .7rem;
          }
        }
      }
    }
  }
}
