.settings {
  color: $gray-xlight;
  background-color: $purple-xxdark;

  .settings-body {
    height: calc(100% - 4rem);
    width: 100%;
    margin-top: 4rem;

    overflow-x: auto;

    .settings-body-wrapper {
      display: flex;
      flex-direction: row;
      width: 110rem;
      height: 100%;
      padding-bottom: 2rem;

      .settings-list,
      .settings-edit {
        width: 55rem;
        padding: 0 2rem;

        overflow-y: auto;
      }

      .settings-list {
        .settings-line {
          height: 1.8rem;
          line-height: 1.8rem;

          .checkbox {
            margin-top: .2rem;
          }
        }

        .settings-line-buttons {
          height: 4rem;
          line-height: 4rem;
        }
      }

      .settings-edit {
        .settings-line {
          height: 2.5rem;
          line-height: 2.5rem;

          &-results {
            height: fit-content;
            padding: .3rem 0;

            cursor: pointer;
          }

          .checkbox {
            margin-top: .6rem;
          }
        }

        .settings-line-buttons {
          height: 6rem;
          line-height: 6rem;
        }

        .settings-line-textarea {
          height: 20rem;
          line-height: 20rem;
        }
      }

      .settings-block {
        padding-bottom: 2.5rem;

        .settings-results {
          max-height: 28rem;
          width: 80%;
          margin: 2rem 10%;

          overflow-y: auto;

          @extend .thin-scrollbar;
        }

        .settings-line {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;

          &-buttons {
            justify-content: center;

            button {
              margin: 0 1rem;
            }
          }

          & > div:not(.checkbox),
          & > label {
            height: inherit;
            line-height: inherit;
          }

          input[type="text"],
          input[type="number"] {
            height: 2rem;

            &:invalid,
            &.invalid {
              background-color: lighten($red, 45%);
              border: 2px solid $red;
            }
          }

          textarea {
            height: 19.5rem;
            width: 40rem;
          }

          .btn-icon, .div-icon {
            height: inherit;
            width: 2rem;

            &.inactive {
              opacity: .3;
            }
          }

          .lang {
            height: inherit;
            width: 1rem;
          }

          .avatar {
            height: 3rem;

            border-radius: 1.5rem;
          }

          .avatar,
          .cover {
            margin-right: 1rem;
          }

          .flex-width {
            flex: 1;
          }

          .fixed-width-xs {
            width: 5rem;
          }

          .fixed-width-s {
            width: 10rem;
          }

          .fixed-width-m {
            width: 15rem;
          }

          .fixed-width-l {
            width: 20rem;
          }

          .fixed-width-xl {
            width: 25rem;
          }
        }

        .VIPs {
          column-count: 3;
        }
      }
    }
  }

  h1, h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    span {
      flex: 1;
      font-size: inherit;
    }

    .btn-icon {
      height: 2rem;
      width: 2rem;
    }
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $green;

    color: $green;
  }

  h2 {
    font-size: 1.3rem;
    margin-bottom: .6rem;
  }
}
