.sidebar {
  border-right: 1px solid $gray-xdark;

  * {
    user-select: none;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .btn-icon {
      height: 2.6rem;
      width: 2.6rem;
      color: $gray;
    }
  }

  .live {
    @extend .very-thin-scrollbar;

    .live-channel-group-title {
      padding: .3rem;
      padding-top: 1rem;
      color: $gray;
    }

    .live-channel {
      width: 100%;
      padding: .3rem;

      border-top: 1px solid $gray-xxdark;
      color: $gray-light;
      cursor: pointer;

      &:last-child {
        border-bottom: 1px solid $gray-xxdark;
      }

      .col {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: nowrap;
        overflow: hidden;
        justify-content: space-between;
      }
      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
      }

      div {
        flex: 1;
      }

      .avatar {
        width: 24px;
        height: 24px;

        border-radius: 12px;
      }

      .name {
        font-size: .7rem;
        padding-left: .3rem;
        padding-bottom: .2rem;
        color: $gray-xxlight;

        @extend .ellipsis;
      }

      .game {
        font-size: .6rem;
        padding: 0 .3rem;
        color: $gray;

        @extend .ellipsis;
      }

      .viewers {
        font-size: .7rem;
        color: $gray-xxlight;

        @extend .text-right;
      }
    }
  }
}
