$black: #000000;
$white: #ffffff;
$gray-xxlight: #f1f1f1;
$gray-xlight: #d0d0d0;
$gray-light: #acacac;
$gray: #9d9d9d;
$gray-dark: #848484;
$gray-xdark: #696969;
$gray-xxdark: #555555;
$gray-xxxdark: #333;
$blue-xlight: #a2c8ff;
$blue-light: #0080ff;
$blue: #005de7;
$blue-dark: #002b6d;
$purple-dark: #515379;
$purple-xxdark: #1b1c27;
$yellow: #ffb922;
$orange: #f54100;
$red: #dd2c00;
$green: #00c21d;
$green-dark: #118c0b;
$pink: #d166ff;
$background: #232129;
$twitch: #9147ff;

* {
  box-sizing: border-box;
  border-spacing: 0;
  font: 1rem 'Ubuntu', sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.left {
  float: left;
}
.right {
  float: right;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-upper {
  text-transform: uppercase;
}
.text-lower {
  text-transform: lowercase;
}
.text-cap {
  text-transform: capitalize;
}

.warn {
  color: $yellow!important;
}
.error {
  color: $orange!important;
}

.tooltip {
  opacity: 1!important;
}

.default-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($white, .3);
  }

  &::-webkit-scrollbar-track {
    background-color: rgba($black, .2);
  }
}

.thin-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($white, .3);
  }

  &::-webkit-scrollbar-track {
    background-color: rgba($black, .2);
  }
}

.very-thin-scrollbar {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($white, .3);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

* {
  @extend .default-scrollbar;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "style/layout.scss";
@import "style/sidebar.scss";
@import "style/settings.scss";
@import "style/grid.scss";
@import "style/favorites.scss";
@import "style/selector.scss";
@import "style/frame.scss";
@import "style/components.scss";
